/**
 * CSS Layout Framework
 * @author Guillaume VanderEst <gui@exo.me>
 * @version 1.0.3
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,800,700);

/* apply a natural box layout model to all elements */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

/** Debugging Design **/
.debug .sixteen, .debug .fifteen, .debug .fourteen, .debug .thirteen, 
.debug .twelve, .debug .eleven, .debug .ten, .debug .nine, .debug .eight, 
.debug .seven, .debug .six, .debug .five, .debug .four, .debug .three, 
.debug .two, .debug .one, .debug .sixteenth, .debug .eighth, .debug .quarter, 
.debug .half, .debug .fifth, .debug .sixth, .debug .seven-eighths { 
    outline: 2px solid red;
}

/** Grid Layout in Desktop (over 960px) **/
.sixteen, .fifteen, .fourteen, .thirteen, .twelve, .eleven, .ten, .nine, 
.eight, .seven, .six, .five, .four, .three, .two, .one, .sixteenth, .eighth,
.three-eighths, .five-eighths, .seven-eighths, .quarter, .three-quarters, 
.half, .third, .two-thirds, .fifth, .two-fifths, .three-fifths, .four-fifths, 
.sixth, .tenth, .four-tenths, .seven-tenths, .ten-percent, .fifteen-percent, 
.twenty-percent, .thirty-percent, .fourty-percent, .fifty-percent, 
.sixty-percent, .seventy-percent, .eighty-percent, .ninety-percent, 
.five-percent { 
    float: left; 
    display: block;
    min-height: 1px;
}
.sixteen {
    float: none;
    clear: left;
}

.row { 
    float: none;
    clear: both; 
    overflow: hidden;
    margin: 0 auto;
}
.row:after, .sixteen:after {
    content: '';
    clear: both;
    display: inline;
}
.alpha {
    clear: left;
}

.sixteen { width: 960px; }
.fifteen { width: 900px; }
.fourteen { width: 840px; }
.thirteen { width: 780px; }
.twelve { width: 720px; }
.eleven { width: 660px; }
.ten { width: 600px; }
.nine { width: 540px; }
.eight { width: 480px; }
.seven { width: 420px; }
.six { width: 360px; }
.five { width: 300px; }
.four { width: 240px; }
.three { width: 180px; }
.two { width: 120px; }
.one { width: 60px; }

.seven-eighths { width: 87.5%; }
.nine-tenths { width: 90%; }
.four-fifths { width: 80%; }
.three-quarters { width: 75%; }
.seven-tenths { width: 70%; }
.two-thirds { width: 66.666%; }
.three-fifths { width: 60%; }
.half { width: 50%; }
.two-fifths { width: 40%; }
.third { width: 33.333%; }
.three-tenths { width: 30%; }
.quarter { width: 25%; }
.fifth { width: 20%; }
.fifteen-percent { width: 15%; }
.eighth { width: 12.5%; }
.tenth { width: 10%; }
.sixteenth { width: 6.25%; }
.five-percent { width: 5%; }
.ten-percent { width: 10%; }
.twenty-percent { width: 20%; }
.thirty-percent { width: 30%; }
.fourty-percent { width: 40%; }
.fifty-percent { width: 50%; }
.sixty-percent { width: 60%; }
.seventy-percent { width: 70%; }
.eighty-percent { width: 80%; }
.ninety-percent { width: 90%; }

.sixth { width: 16.666%; }
.five-sixths { width: 83.333%; }

.skip-sixteen { margin-left: 960px; }
.skip-fifteen { margin-left: 900px; }
.skip-fourteen { margin-left: 840px; }
.skip-thirteen { margin-left: 780px; }
.skip-twelve { margin-left: 720px; }
.skip-eleven { margin-left: 660px; }
.skip-ten { margin-left: 600px; }
.skip-nine { margin-left: 540px; }
.skip-eight { margin-left: 480px; }
.skip-seven { margin-left: 420px; }
.skip-six { margin-left: 360px; }
.skip-five { margin-left: 300px; }
.skip-four { margin-left: 240px; }
.skip-three { margin-left: 180px; }
.skip-two { margin-left: 120px; }
.skip-one { margin-left: 60px; }

/** Grid Layout in Desktop **/
@media (min-width: 960px) {
    .tablet, .mobile, .no-desktop, .not-desktop { display: none !important; }
}

/** Grid Layout in Tablet **/
@media (min-width: 481px) and (max-width: 959px) {
    .sixteen { width: 720px; }
    .fifteen { width: 675px; }
    .fourteen { width: 630px; }
    .thirteen { width: 585px; }
    .twelve { width: 540px; }
    .eleven { width: 495px; }
    .ten { width: 450px; }
    .nine { width: 405px; }
    .eight { width: 360px; }
    .seven { width: 315px; }
    .six { width: 270px; }
    .five { width: 225px; }
    .four { width: 180px; }
    .three { width: 135px; }
    .two { width: 90px; }
    .one { width: 45px; }

    .skip-sixteen { margin-left: 720px; }
    .skip-fifteen { margin-left: 675px; }
    .skip-fourteen { margin-left: 630px; }
    .skip-thirteen { margin-left: 585px; }
    .skip-twelve { margin-left: 540px; }
    .skip-eleven { margin-left: 495px; }
    .skip-ten { margin-left: 450px; }
    .skip-nine { margin-left: 405px; }
    .skip-eight { margin-left: 360px; }
    .skip-seven { margin-left: 315px; }
    .skip-six { margin-left: 270px; }
    .skip-five { margin-left: 225px; }
    .skip-four { margin-left: 180px; }
    .skip-three { margin-left: 135px; }
    .skip-two { margin-left: 90px; }
    .skip-one { margin-left: 45px; }

    .desktop, .mobile, .no-tablet, .not-tablet { display: none !important; }

    .sixteenth-tablet { 6.25%; }
    .eighth-tablet { width: 12.5%; }
    .quarter-tablet { width: 25%; }
    .half-tablet { width: 50%; }
}
/** Grid Layout in Mobile (under 480px) **/
@media (max-width: 719px) {
    .row, .sixteen, .fifteen, .fourteen, .thirteen, .twelve, .eleven, .ten, 
    .nine, .eight, .seven, .six, .five, .four, .three, .two, .one, .half, 
    .quarter, .three-quarters, .eighth, .seven-eighths, .sixteenth, .third, .two-thirds, .fifth,
    .two-fifths, .three-fifths, .four-fifths, .sixth, .five-sixths, .five-percent,
    .ten-percent, .twenty-percent, .thirty-percent, .fourty-percent, .fifty-percent,
    .sixty-percent, .seventy-percent, .eighty-percent, .ninety-percent { 
        float: none;
        width: 100%; 
    }

    .skip-sixteen, .skip-fifteen, .skip-fourteen, .skip-thirteen, .skip-twelve, 
    .skip-eleven, .skip-ten, .skip-nine, .skip-eight, .skip-seven, .skip-six, 
    .skip-five, .skip-four, .skip-three, .skip-two, .skip-one { 
        margin-left: 0;
    }

    .desktop, .tablet, .no-mobile, .not-mobile { display: none !important; }

    .sixteenth-mobile { 6.25%; }
    .eighth-mobile { width: 12.5%; }
    .quarter-mobile { width: 25%; }
    .half-mobile { width: 50%; }
}

/** Minor Cosmetics **/
.sixteen { margin: 0 auto; }

.pad { padding: 20px; }
.pad-top { padding-top: 20px; }
.pad-bottom { padding-bottom: 20px; }
.pad-right { padding-right: 20px; }
.pad-left { padding-left: 20px; }

.pad-medium { padding: 10px; }
.pad-medium-top { padding-top: 10px; }
.pad-medium-right { padding-right: 10px; }
.pad-medium-bottom { padding-bottom: 10px; }
.pad-medium-left { padding-left: 10px; }

.pad-small { padding: 5px; }
.pad-small-top { padding-top: 5px; }
.pad-small-right { padding-right: 5px; }
.pad-small-bottom { padding-bottom: 5px; }
.pad-small-left { padding-left: 5px; }

.block { display: block; }

a, .clickable {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, blockquote {
    margin-bottom: 15px;
}
ul:not(.plain), ol:not(.plain) {
    margin-left: 30px;
}
ul:not(.plain) {
    list-style: square outside;
}
ol:not(.plain) {
    list-style: decimal outside;
}
ul.inline, ul.inline li {
    display: inline-block;
}
.plain {
    float: none;
    margin: 0;
}
@media (min-width: 960px) {
    .pad-desktop { padding: 20px; }
    .pad-not-tablet { padding: 20px; }
    .pad-not-mobile { padding: 20px; }

    .pad-top-desktop { padding-top: 20px; }
    .pad-bottom-desktop { padding-bottom: 20px; }
    .pad-left-desktop { padding-left: 20px; }
    .pad-right-desktop { padding-right: 20px; }

    .pad-top-not-tablet { padding-top: 20px; }
    .pad-bottom-not-tablet { padding-bottom: 20px; }
    .pad-left-not-tablet { padding-left: 20px; }
    .pad-right-not-tablet { padding-right: 20px; }

    .pad-top-not-mobile { padding-top: 20px; }
    .pad-bottom-not-mobile { padding-bottom: 20px; }
    .pad-left-not-mobile { padding-left: 20px; }
    .pad-right-not-mobile { padding-right: 20px; }
    .pad-medium-right-not-mobile { padding-right: 10px; }
}
@media (min-width: 720px) and (max-width: 959px) {
    .pad-not-desktop { padding: 20px; }
    .pad-tablet { padding: 20px; }
    .pad-not-mobile { padding: 20px; }

    .pad-top-not-desktop { padding-top: 20px; }
    .pad-bottom-not-desktop { padding-bottom: 20px; }
    .pad-left-not-desktop { padding-left: 20px; }
    .pad-right-not-desktop { padding-right: 20px; }

    .pad-top-tablet { padding-top: 20px; }
    .pad-bottom-tablet { padding-bottom: 20px; }
    .pad-left-tablet { padding-left: 20px; }
    .pad-right-tablet { padding-right: 20px; }

    .pad-top-not-mobile { padding-top: 20px; }
    .pad-bottom-not-mobile { padding-bottom: 20px; }
    .pad-left-not-mobile { padding-left: 20px; }
    .pad-right-not-mobile { padding-right: 20px; }
    .pad-medium-right-not-mobile { padding-right: 10px; }
}
@media (max-width: 719px) {
    .pad-not-desktop { padding: 20px; }
    .pad-not-tablet { padding: 20px; }
    .pad-mobile { padding: 20px; }

    .pad-top-not-desktop { padding-top: 20px; }
    .pad-bottom-not-desktop { padding-bottom: 20px; }
    .pad-left-not-desktop { padding-left: 20px; }
    .pad-right-not-desktop { padding-right: 20px; }

    .pad-top-not-tablet { padding-top: 20px; }
    .pad-bottom-not-tablet { padding-bottom: 20px; }
    .pad-left-not-tablet { padding-left: 20px; }
    .pad-right-not-tablet { padding-right: 20px; }

    .pad-top-mobile { padding-top: 20px; }
    .pad-bottom-mobile { padding-bottom: 20px; }
    .pad-left-mobile { padding-left: 20px; }
    .pad-right-mobile { padding-right: 20px; }
}


/** Alignment **/
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-justify { text-align: justify; }
.align-right { text-align: right; }

.float-left { float: left; }
.float-right { float: right; }

.clear-left { clear: left; }
.clear-right { clear: right; }
.clear { clear: both; }

/** Form **/
form .field {
    margin-bottom: 5px;
    line-height: 1.3;
}
form label:not(.inline) {
    min-width: 150px;
    display: inline-block;
    vertical-align: top;
}
input[type=text], input[type=number], input[type=email], input[type=password], textarea {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 5px;
}
textarea {
    width: 100%;
    height: 150px;
}
button, a.button, input[type=button], input[type=submit], input[type=reset] {
    padding: 5px 30px;
    border: 0px none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px #ccc;
    background: #eee;
    background: linear-gradient(to bottom, #fff, #eee);
    border: 1px solid #aaa;
    display: inline-block;
}

/** Fonts **/
body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
    line-height: 1.3;
}
h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; }
h4 { font-size: 14px; }
select, input {
    font-size: 14px;
}

.larger { font-size: larger; }
.large { font-size: large; }
.small { font-size: small; }
.smaller { font-size: smaller; }

table {
    width: 100%;
}
th {
    text-align: left;
}

/* Tablet */
@media (min-width: 720px) and (max-width: 959px) { 
    body { 
        font-size: 13px; 
        line-height: 1.4;
    } 
    h1 { font-size: 26px; }
    h2 { font-size: 22px; }
    h3 { font-size: 18px; }
    h4 { font-size: 14px; }
    h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, blockquote {
        margin-bottom: 12px;
    }

    .align-left-tablet { text-align: left; }
    .align-center-tablet { text-align: center; }
    .align-right-tablet { text-align: right; }
    .align-justify-tablet { text-align: justify; }

    select, input {
        font-size: 12px;
    }
}

@media (max-width: 719px)  { 
    body { 
        font-size: 12px; 
        line-height: 1.5;
    } 
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    h3 { font-size: 16px; }
    h4 { font-size: 12px; }
    h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, blockquote {
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        text-align: center;
    }

    .align-left-mobile { text-align: left; }
    .align-center-mobile { text-align: center; }
    .align-right-mobile { text-align: right; }
    .align-justify-mobile { text-align: justify; }

    select, input {
        font-size: 10px;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}
