<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="ie6"> <![endif]-->
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html>         
<!--<![endif]-->
    <head>
        <title>BitSplit</title>
        <meta charset="utf-8" />
    
        <link rel="stylesheet" href="/media/release/bitsplit.min.css" />
    </head>
    <body>

<div id="wrapper" class="sixteen align-center">
    <div id="container">
        <div id="header" class="row">
            <div id="logo" class="six skip-five">
                <img data-scale=".46" data-max-width="400" src="/media/img/bitsplit-logo.png" alt="Bitsplit" />
            </div> <!-- #logo -->
        </div> <!-- #header -->
        <div id="body">
            <h1>BitSplit - Coming Soon</h1>
        </div> <!-- #body -->
        <div id="footer">
            <div id="copyright">
                <p>IronClad Web Technologies</p>
            </div> <!-- #copyright -->
        </div> <!-- #footer -->
    </div> <!-- #container -->
</div> <!-- #wrapper -->

        <script src="/media/release/bitsplit.min.js"></script>
    </body>
</html>

